/*
 _____ _____ _____ _____    _____ _____ _____ _____ _____ _____
|_   _|   __|  _  |     |  |   __|  _  |  _  | __  |_   _|  _  |
  | | |   __|     | | | |  |__   |   __|     |    -| | | |     |
  |_| |_____|__|__|_|_|_|  |_____|__|  |__|__|__|__| |_| |__|__|

 * File: login.css
 * Styling for the login page.
 * Written by TEAM SPARTA
 * Last updated: 04-03-14 by Andrew McNaught.

   Color theme guide:

	mid      --- #034C75 = rgb(3,77,117)  (logo background color)

	darker   --- #184158 = rgb(24,65,88)

	darkest  --- #01324C = rgb(1,50,76)

	lighter  --- #328ABA = rgb(50,138,186)

	lightest --- #5697BA = rgb(86,151,186)
*/

.center {
    margin-left: auto;
    margin-right: auto;

}
body {
    background: #034C75;
}

.loginDiv {
    color: #FFF;
    background-color: #034C75;
    width: 400px;
    padding: 40px;
}

.block {
    height: 99.8%;
    text-align: center;
    background: #034C75;
    border: #a0a0a0 solid 1px;

}

.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    /*margin-right: -0.25em; *//* Adjusts for spacing */
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px 15px;

    background: #FFF;
    box-shadow: 7px 7px 6px 0px rgba(50, 50, 50, 0.58);
    border-radius: 5px;
}

.textBoxStyle1  {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #EAEAEA;
    background: -moz-linear-gradient(top, #FFF, #EAEAEA);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
    border: 1px solid #CACACA;
    color: #444;
    font-size: 1em;
    margin: 0 0 0px;
    padding: 5px 9px;
    width:200px;
}

.textBoxStyle1:focus {
    background: #FFF;
    -webkit-box-shadow: 0 0 25px #CCC;
    -moz-box-shadow: 0 0 25px #ccc;
    box-shadow: 0 0 25px #CCC;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    outline: 0;
}

.hiddenSubmit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.logReport {
    color: red;
    font-size: 90%;
}